.header
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  height: auto
  margin: 0
.logo
  width: 212px
  margin: 1.67em 3.1em

  @media (max-width: 1024px)
    width: 170px
    margin: 30px 36px

@media (max-width: 475px)
  .logo
    width: 130px
    margin: auto