.nav
  display: inline
  position: fixed
  right: 4.9em
  top: 3.66em
  width: 41.3%
  color: white
  text-transform: uppercase
  font-size: 0.63rem
  &__list
    display: flex
    justify-content: space-between
    text-decoration: none
    list-style-type: none
    margin: 0 -12px
  &__item
    margin: 0 12px

.mobile-nav
    display: none
    position: fixed
    height: 50vh
    width: 100vw
    z-index: 9998
    background: linear-gradient(to top right, (darken($color__bg, 4%), lighten($color__bg, 4%)))
    padding: 30px 0 20px
    transform: translateY(-100%)
    transition: all 0.3s ease-in-out

    &__toggle
      display: none
      width: 50px
      height: 50px
      margin-right: 20px
      align-items: center
      cursor: pointer
      z-index: 999
      &:selection
        background: transparent
      &:-moz-selection
        background: transparent
      span,
      span:before,
      span:after
        content: ""
        display: block
        height: 2px
        width: 100%
        background: #fff
        position: relative

        transition: all 0.3s ease-in-out

      span:before
        top: 15px

      span:after
        top: -17px

      &.is-open span
        background: transparent

      &.is-open span:before,
      &.is-open span:after
        transform-origin: center
        transform: rotate(45deg)
        top: 0

      &.is-open span:before
        transform: rotate(-45deg)

    ul
      list-style: none
      margin: 0
      padding: 0
      padding-top: 9em
    li
      text-align: center
      margin-bottom: 10px


@media (max-width: 1024px)
  .nav
    top: 4.2em
    right: 3.1em
    width: 47%

@media (max-width: 575px)
  .nav
    display: none
  .mobile-nav__toggle
    display: flex

  .mobile-nav.is-open
    display: block