.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 166px;
  margin: 0;
  z-index: 9998; }

.logo {
  width: 212px;
  margin: 1.67em 3.1em; }

@media (max-width: 1024px) {
  .header {
    height: 140px; }
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    width: 170px;
    margin: 30px 36px; } }

@media (max-width: 475px) {
  .header {
    height: 74px; }
  .logo {
    width: 110px;
    margin: auto; } }

.mobile-nav__toggle {
  display: none;
  width: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 99999;
  padding: 12px 0; }
  .mobile-nav__toggle:selection {
    background: transparent; }
  .mobile-nav__toggle:-moz-selection {
    background: transparent; }
  .mobile-nav__toggle span,
  .mobile-nav__toggle span:before,
  .mobile-nav__toggle span:after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #fff;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .mobile-nav__toggle span:before {
    top: 9px; }
  .mobile-nav__toggle span:after {
    top: -13px; }
  .mobile-nav__toggle.is-open span {
    background: transparent; }
  .mobile-nav__toggle.is-open span:before,
  .mobile-nav__toggle.is-open span:after {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(405deg) translate(-1px, 0px);
            transform: rotate(405deg) translate(-1px, 0px);
    top: 0; }
  .mobile-nav__toggle.is-open span:before {
    -webkit-transform: rotate(-405deg) translate(-2px, 2px);
            transform: rotate(-405deg) translate(-2px, 2px); }
    .mobile-nav__toggle.is-open span:before ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 9em; }
    .mobile-nav__toggle.is-open span:before li {
      text-align: center;
      margin-bottom: 10px; }

.nav {
  display: inline;
  position: fixed;
  right: 4.9em;
  top: 3.66em;
  width: 41.3%;
  color: white;
  text-transform: uppercase;
  font-size: 0.63rem; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin: 0 -12px; }
  .nav__item {
    margin: 0 12px; }

.mobile-nav {
  display: none;
  position: fixed;
  height: 530px;
  width: 100vw;
  z-index: 9998;
  background: -webkit-gradient(linear, left bottom, right top, from(#00090c), to(#002734));
  background: -webkit-linear-gradient(bottom left, #00090c, #002734);
  background: -o-linear-gradient(bottom left, #00090c, #002734);
  background: linear-gradient(to top right, #00090c, #002734);
  padding: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (max-width: 1024px) {
  .nav {
    top: 4.2em;
    right: 3.1em;
    width: 47%; } }

@media (max-width: 575px) {
  .nav {
    display: none; }
  .mobile-nav__toggle {
    display: block;
    position: fixed;
    top: 19px;
    right: 23px; } }

.mobile-nav.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  text-transform: uppercase; }

.mobile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
  width: 100%;
  height: 261px;
  margin: 112px auto 68px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  text-decoration: none;
  list-style-type: none; }

.mobile-nav-social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .mobile-nav-social__wrapper {
    margin: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .mobile-nav-social__icon, .mobile-nav-social__icon-g {
    margin: auto;
    height: 22px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .mobile-nav-social__icon:hoover, .mobile-nav-social__icon-g:hoover {
      opacity: 0.7; }

a.button {
  text-decoration: none;
  position: relative;
  color: white; }
  a.button:after, a.button:active:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: -0.5rem;
    left: 2px;
    width: 0%;
    border-radius: 50px;
    background: white;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  a.button:hover:after {
    width: 50%; }
  a.button:active:after {
    width: 110%; }
  a.button__type2 {
    color: #fff;
    cursor: pointer;
    position: relative;
    border: 3px solid white;
    border-radius: .4em;
    padding: .55em 2.3em .55em 2.05em;
    -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s; }
    a.button__type2:hover {
      color: #000 !important;
      background-color: white;
      left: 0%;
      right: auto;
      width: 100%; }
      a.button__type2:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: white;
        -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
        -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 555px;
  height: 600px;
  margin: 0 auto; }
  .content__text {
    margin-top: 1.85em;
    text-align: center;
    font-family: "Raleway";
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.2em; }
  .content__text-bold-white {
    font-family: "Raleway";
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    line-height: 1.3em; }
  .content__icon {
    color: white;
    height: 104px;
    width: 104px;
    margin: 3.1em auto; }

.social {
  margin: 1em 0; }
  .social__wrapper {
    margin: 1.9em 1em 0 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: .6rem;
    color: white;
    text-transform: uppercase;
    -webkit-padding-start: 0; }
  .social__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    color: white;
    font-size: .7rem; }
  .social__item {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
    .social__item:hover {
      opacity: .8; }
  .social__icon {
    display: inline-block;
    width: auto;
    height: 24px; }
  .social__icon-g {
    display: inline-block;
    width: auto;
    height: 24px; }
  @media (max-width: 475px) {
    .social__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.spacer {
  display: inline-block;
  margin: 0 8px;
  padding: 0 2px; }

.rotate {
  -webkit-animation: rotate 1s;
          animation: rotate 1s; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.triangle {
  position: fixed;
  text-align: center;
  bottom: -3.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.93em;
  height: 4.93em;
  cursor: pointer; }
  .triangle:hover {
    opacity: .8; }
  .triangle__bg {
    position: absolute;
    content: "";
    background: white;
    width: 4.93em;
    height: 4.93em;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-top-right-radius: 5%;
    z-index: -1; }
  .triangle__text {
    position: relative;
    margin-top: .26em;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    color: black;
    font-size: .55em; }
  .triangle__plus {
    display: none;
    position: relative;
    bottom: .5em;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    color: black;
    font-size: 1em; }

@media (max-width: 1024px) {
  .content {
    width: 435px;
    margin: -0.2em auto; }
    .content__icon {
      height: 82px;
      width: 82px;
      margin: 3.83em auto; }
  .social {
    margin: 1.05em 0;
    letter-spacing: .07px; }
    .social__wrapper {
      margin: 2.5em 1em;
      letter-spacing: 0; }
    .social__icon, .social__icon-g {
      height: 19px; }
  .triangle {
    bottom: -3.25em; } }

@media (max-width: 320px) {
  .content {
    width: 220px;
    height: auto; }
    .content__text {
      font-size: 18.5px;
      margin: 21px 0px 20px 0px;
      line-height: 1.25em;
      padding: 0 .20em; }
    .content__text-2 {
      padding: 0 1.7em; }
    .content__text-bold-white {
      line-height: 1.3em;
      font-weight: 200;
      font-size: 18.5px; }
    .content__icon {
      height: 65px;
      margin: auto; }
  .social__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 13em;
    margin: 18px 0; }
  .social__text {
    font-size: 10px;
    margin: 4px 2em;
    line-height: 18px; }
  .social__item {
    font-size: 12px;
    margin: auto; }
  .social__icon, .social__icon-g {
    height: 15px;
    padding: 0 4px; }
  .spacer {
    padding: 0 4px;
    margin: 0 4px 0 4px; }
  .triangle {
    width: 4.1em;
    height: 4.1em; }
    .triangle__bg {
      width: 4.1em;
      height: 4.1em; }
    .triangle__text {
      display: none; }
    .triangle__plus {
      display: inline;
      bottom: .6em; } }

html {
  height: 100%;
  font-size: 16px;
  background: url(bg_image.jpg) no-repeat right 31.5% bottom 66% fixed;
  background-size: 180%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400; }
  @media (max-width: 1024px) {
    html {
      font-size: calc(16px + .4vw);
      background: url(bg_image.jpg) no-repeat right 34% bottom 65% fixed;
      background-size: 190%; } }
  @media (max-width: 320px) {
    html {
      background: url(bg_image.jpg) no-repeat right 38% bottom 66% fixed;
      background-size: 350%; } }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.33); }

a:link, a:visited {
  color: white;
  text-decoration: none; }


/*# sourceMappingURL=main.css.map*/